/***************************************************************************************
*
*	CSS Helpers
* 	Author: Yassin Akhachab
*	W: www.yassinakhachab.com
*	Version: 1.0
*	Last update: 2013-06-25
*	Github project: https://github.com/Companjo/css-helpers
*
 ***************************************************************************************/

/**** Floating ****/

 .ch-float-left
 {
 	float: left;
 }

 .ch-float-right
 {
 	float: right;
 }

.ch-clearfix
{
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}


/**** Text align ****/

 .ch-text-left
 {
 	text-align: left;
 }

 .ch-text-center
 {
 	text-align: center;
 }

 .ch-text-right
 {
 	text-align: right;
 }


/**** Margins & Paddings ****/
 .ch-center
 {
 	margin: 0px auto;
 }

 .ch-no-margin
 {
 	margin: 0px;
 }

 .ch-no-padding
 {
 	padding: 0px;
 }
